body {
	margin: 0px;
	background: url("./assets/img/bonobono.jpg");
	background-size: contain;
	/* background-color: #f6f6f6; */
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0;
}

#root {
	background-color: #fff;
	box-shadow: 0 7px 29px 0 rgb(100 100 111 / 20%);
}
.cigarette-header {
	height: 100px;
}
.cigarette-body {
	display: flex;
	flex-direction: row;
	justify-content: center;
	/* align-items: center; */
	height: 100vh;
	padding: 20px 100px;
	box-sizing: border-box;
	box-shadow: 4px 20px 20px grey;
}
.cigarette-body button {
	background-color: #eee;
	border: 1px solid gray;
	padding: 10px 20px;
	width: 250px;
	cursor: pointer;
}

/* view container */
.cigarette-body .view-container {
	display: flex;
	flex-direction: column;
	margin-right: 20px;
	height: 500px;
}
.cigarette-body .view-container .view-name {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 250px;
	height: 450px;
	padding: 20px;
	margin-bottom: 10px;
	border: 1px solid gray;
	box-sizing: border-box;
}
.cigarette-body .view-container .view-name img {
	width: 160px;
	margin-bottom: 10px;
	object-fit: contain;
}
.cigarette-body .view-container .view-name .img-box {
	display: flex;
	align-items: center;
	height: 380px;
}

/* option */
.cigarette-body .option {
	height: auto;
	width: 250px;
	box-sizing: border-box;
}
.cigarette-body .option input {
	margin: 0px 3px 0px 0px;
}
.cigarette-body .option .hint {
	padding: 10px;
	border: 1px solid gray;
	margin-bottom: 10px;
}
.cigarette-body .option .white-list {
	visibility: hidden;
	display: flex;
	flex-direction: column;
	border: 1px solid #bebebe;
	border-top: none;
	height: auto;
}
.cigarette-body .option .white-list.show {
	visibility: visible;
	height: auto;
}
.cigarette-body .option .white-list-types {
	border-bottom: 1px solid #eee;
	padding: 10px;
}

@media (max-width: 800px) {
	body,
	.cigarette-body {
		height: auto;
	}
	.cigarette-body {
		flex-direction: column;
		padding: 20px 40px;
	}
	.cigarette-body .view-container {
		margin-right: 0px;
	}
	.cigarette-body .view-container button {
		margin-bottom: 10px;
	}
	.cigarette-body .option .hint {
		margin-top: 20px;
	}
}
