body {
  margin: 0px;
  background-color: white;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

#root {
  background-color: #fff;
  box-shadow: 0 7px 29px 0 rgb(100 100 111 / 20%);
}
.cigarette {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px 100px;
  box-sizing: border-box;
}

.cigarette button {
  background-color: #eee;
  border: 1px solid gray;
  padding: 10px 20px;
  width: 250px;
  cursor: pointer;
}

.cigarette .view-container {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  height: 500px;
}
.cigarette .view-container .view-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 450px;
  padding: 20px;
  margin-bottom: 10px;
  border: 1px solid gray;
  box-sizing: border-box;
}
.cigarette .view-container .view-name img {
  width: 160px;
  margin-bottom: 10px;
  object-fit: contain;
}
.cigarette .view-container .view-name .img-box {
  display: flex;
  align-items: center;
  height: 380px;
}
.cigarette .option {
  height: 500px;
  width: 250px;
  box-sizing: border-box;
}

.cigarette .option input {
  margin: 0px 3px 0px 0px;
}
.cigarette .option .hint {
  padding: 10px;
  border: 1px solid gray;
  margin-bottom: 10px;
}

.cigarette .option .white-list {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  border: 1px solid #bebebe;
  border-top: none;
  height: auto;
}

.cigarette .option .white-list.show {
  visibility: visible;
  height: auto;
}

.cigarette .option .white-list-types {
  border-bottom: 1px solid #eee;
  padding: 10px;
}

@media (max-width: 800px) {
  body,
  .cigarette {
    height: auto;
  }
  .cigarette {
    flex-direction: column;
    padding: 20px 40px;
  }
  .cigarette .view-container {
    margin-right: 0px;
  }
  .cigarette .view-container button {
    margin-bottom: 10px;
  }
  .cigarette .option .hint {
    margin-top: 20px;
  }
}
