body {
	margin: 0px;
	background-color: white;
}

.cigarette {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.cigarette img {
	width: 130px;
	margin-bottom: 10px;
}
.cigarette button {
	background-color: #eee;
	border: 1px solid gray;
	padding: 10px 20px;
	width: 250px;
}

.cigarette .view-container {
	display: flex;
	flex-direction: column;
	margin-right: 20px;
	height: 400px;
}
.cigarette .view-container .view-name {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 250px;
	height: 350px;
	padding: 20px;
	margin-bottom: 10px;
	border: 1px solid gray;
	box-sizing: border-box;
}
.cigarette .option {
	display: flex;
	flex-direction: column;
	height: 400px;
	border: 1px solid gray;
	padding: 10px;
	box-sizing: border-box;
}

.cigarette .option input {
	margin: 0px 3px 0px 0px;
}
